__pycache__/
*.txt
*.png
Resultats/
DonneesMouvements/

.idea/
*.npy
*.bo

Marche_BiorbdOptim/stance/.ogv

sandbox/

*.vtp

ModelesS2M/Open_Sim/Meshfiles/

*.xlsx

ModelesS2M/Open_Sim/Multiphase/Meshfiles/
