__pycache__/
*.txt
*.png
Resultats/
DonneesMouvements/

.idea/
*.npy
*.bo

Marche_BiorbdOptim/stance/.ogv

sandbox/

*.vtp

ModelesS2M/Open_Sim/Meshfiles/

*.xlsx

ModelesS2M/Open_Sim/Multiphase/Meshfiles/

Marche_BiorbdOptim/contact/test_3contacts.py

*.bob

*.ogv

*.c3d

Marche_BiorbdOptim/squat/graph

Marche_BiorbdOptim/BIOPTIM_contact_muscle/Five_Link_Biped_Stance_pelvis.bioMod

Marche_BiorbdOptim/BIOPTIM_contact_muscle/test_bioptim.py
